.example-spacer {
    flex: 1 1 auto;
  }

  .pad{
    padding: 10px;
  }

  .backgroundspace{
    background: white;
  }

  .selectTam{
    width: 100%;
  }


  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background: white;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
.paginationPad{
  padding: 38px;
}













  .text-primary {
    color: #3157b7 !important;
  }
  
  .text-grey {
    color: #555 !important;
  }
  
  .text-red {
    color: #df0707 !important;
  }
  
  .text-green {
    color: #237a2a !important;
  }
  
  .text-blue {
    color: #226099 !important;
  }

  

  
.btn {
  outline: none;
  border-radius: 25px;
}

.btn.md {
  padding: 10px 25px;
  font-size: 14px;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.prim-btn {
  background-color: #3157b7;
  color: #fff;
  border: 2px solid transparent;
}

.btn.prim-btn:hover {
  background-color: #284897;
}

.btn.prim-btn:focus {
  background-color: #223c7f;
}

.btn.prim-btn-out {
  background-color: transparent;
  border: 2px solid #3157b7;
  color: #3157b7;
}

.btn.prim-btn-out:hover {
  border: 2px solid #6081d4;
  color: #6081d4;
}

.btn.prim-btn-out:focus {
  border: 2px solid #2d4fa7;
  color: #2d4fa7;
}

.btn.sm {
  padding: 7px 16px !important;
  font-size: 12px;
}






.site-banner {
  background-color: #f9d3ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: middle;
}

.site-banner::before, .site-banner::after {
  display: block;
  content: " ";
  clear: both;
}

.site-banner .inner {
  padding: 35px;
}

.site-banner .inner .banner-img {
  width: 100%;
}

.site-banner .inner .title {
  font-size: 50px;
}

.site-banner .inner .text {
  font-size: 20px;
  line-height: 29px;
  margin: 0;
  text-align: justify;
}

.site-banner .inner .btn-group {
  padding: 15px 0;
}

.site-banner .site-form {
  position: relative;
}

.site-banner .site-form form {
  display: inline-block;
  width: 100%;
}

.site-banner .site-form .submit-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  background-color: transparent;
  color: #999;
  border: 0;
}

.site-banner .site-form .submit-btn [class^="flaticon-"]:before, .site-banner .site-form .submit-btn [class^="flaticon-"]:after {
  font-size: 14px;
}


.form-ui {
  border-radius: 25px;
  border: 0;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.11);
  -o-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.11);
  -ms-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  padding: 14px 20px;
  color: #555;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  outline: none;
}

.form-ui:focus {
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.21);
  -o-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.21);
  -ms-box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.21);
}






/*========================PRODUCT LIST======================*/




@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background: url("https://i.imgur.com/uMtfBaA.png");
  font: 400 14px Pt Sans;
}

.displaybox{
 /* width: 85%;
 margin: 100px auto;*/
  padding: 30px;
  
 /* background-color: rgb(255 255 255 / 53%);*/
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15), 1px 1px 1px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image{max-width: 170px;}

.dis{
  height: 300px;
  width: 215px;
  margin: 40px 0 20px 0;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05), 1px 1px 1px rgba(0,0,0,0.05);
  position: relative;
  z-index: 100;
}

.dis1{
  /*background: url("https://i.imgur.com/NcYvC6e.jpg") no-repeat center center;*/
 background-size: 80%;
 background-color: white;
}

.dis2{
  /*background: url("https://i.imgur.com/sb9j7zi.jpg") no-repeat center center;*/
 background-size: 87%;
 background-color: white;
}

.dis3{
  /*background: url("https://i.imgur.com/67HoMxe.jpg") no-repeat center center;*/
 background-size: 92%;
 background-color: white;
}

.dis4{
  background: url("https://i.imgur.com/zND1WED.jpg") no-repeat center center;
 background-size: 94%;
 background-color: white;
}

.dis5{
  background: url("https://i.imgur.com/IgIsXz4.jpg") no-repeat center center;
 background-size: 88%;
 background-color: white;
}

.dis6{
  background: url("https://i.imgur.com/CEK1Rrf.jpg") no-repeat center center;
 background-size: 80%;
 background-color: white;
}


.dislogo{
  height: 40px;
  width: 40px;
  background-color: black;
  margin-left: 15px;
  border-radius: 100%;
  border: solid 3px white;
  box-shadow: inset 1px 1px 0px rgba(0,0,0,0.15), 1px 1px 3px rgba(0,0,0,0.15);
  z-index: 500;
  transition: all ease 0.5s;
  float: left;
}

.dislogo1{
  /*background: url("https://i.imgur.com/F8VK9q2.jpg") no-repeat center center;*/
  background-size: 100%;
  background-color: black;
}

.disdis{
  float: left;
  font-size: 13px;
  margin-left: 10px;
  opacity: 0;
  transition: all ease 0.5s;
  margin-top: 10px;
  z-index: 20;
  position: relative;
}

.distopwrap{
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  transition: all ease 0.5s;
  z-index: 20;
}

.disprice{
  position: absolute;
  /*bottom: 0;*/
  bottom:50px;
  right: 0;
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
  margin: 10px;
  background-color: rgba(20,20,20,0.7);
  color: white;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  transition: all ease 0.5s;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05), 1px 1px 1px rgba(0,0,0,0.05);
}

.disbut{
  position: absolute;
  left: 0;
  /*bottom: 0;*/
  
  bottom:50px;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  background-color: rgb(159 200 20);
  color: white;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  opacity: 0;
  border: none;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  transition: all ease 0.5s;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05), 1px 1px 1px rgba(0,0,0,0.05);
}

.faspace{
  margin-right: 10px;
}

.roll:hover .distopwrap{
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  transition: all ease 0.5s;
} 

.roll:hover .disdis{
  opacity: 1;
  transition: all ease 0.5s;
}

.roll:hover .disprice{
  opacity: 1;
  transition: all ease 0.5s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.roll:hover .disbut{
  opacity: 1;
  transition: all ease 0.5s;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}

.disbut:hover{
  background-color: rgb(159 200 20);
  transition: all ease 0.5s;
}
