<div class="container">
<br>

<div class="row">
    <div class="col-md-3">
        <div class="card pointer  center" routerLink="/addproducts">
            <img class="card-img-top" src="../../assets/img/new.png" alt="Card image cap">
           
          </div>
    </div>
    <div class="col-md-3">
        <div class="card pointer  center" routerLink="/addcategories" >
            <img class="card-img-top" src="../../assets/img/categorias.png" alt="Card image cap">
        
          </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>


</div>
