.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
}

.mat-drawer-container {
    background-color: #fafafa;
    color: rgba(0,0,0,.87);
    height: 900px;
}